/* color */
$blue: #4A90E2;
$blue-dark: #00408B;
$red: #D0021B;
$orange:#F5A623;
$orange-light: #FFF2DC;
$gray-light-1:#F2F2F2;
$gray-light-2:#C8C8C8;
$gray:#757575;
$gray-dark-1:#9B9B9B;
$black: #000000;
$white: #FFFFFF;

$color-primary: $blue;
$color-secondary: $blue-dark;

$color-cancel:$red;
$color-favorite-star:$orange;
$color-favorite-bg:$orange-light;
$color-task-bg:$gray-light-1;

$fontColor-title: $black;
$fontColor-subTitele: $black;
$fontColor-status:  $gray-light-2;
$fontColor-placeholder : $gray; 
$fontColor-remark: $gray;

/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$font-family-Roboto: 'Roboto','Avenir', Helvetica, Arial, sans-serif;
$fontFamily-base: $font-family-Roboto;

$fontFamily-title: $fontFamily-base;
$fontFamily-subTitle: $fontFamily-base;
$fontFamily-status:  $fontFamily-base;
$fontFamily-placeholder : $fontFamily-base; 
$fontFamily-remark: $fontFamily-base;

/* Font Size */

$font-size-base:              20px !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$fontSize-title: $font-size-lg;
$fontSize-subTitle: $font-size-base;
$fontSize-status: $font-size-sm;
$fontSize-placeholder: $font-size-sm;
$fontSize-remark: $font-size-lg;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
