$tablet-width: 991;
$mobile-width: 767;

$purple-dark:#7828B4;
$purple: #9013FE;

$gray-light: #F2F2F2;
$gray: #EBEBEB;
$gray-medium: #D7D7D7;
$gray-dark: #9B9B9B;

$white: #FFFFFF;
$black: #000000;

$color-primary: $purple-dark;
$color-secondary:$purple;

$header-bg: $color-primary;
$body-bg: $gray-light;
$filter-bg: $gray;
