@import 'variable';
@import '../../mixins';
@import 'extend';
//header
.header-wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: $header-bg;
    @include rwd_down($mobile-width){
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        flex:1;

    }
    .searchBar{
        flex:2;
        @include rwd_down($mobile-width){
            margin-top: 10px;
            width: 100%;
        }
        .search-input{
            i{
                color: $white;
                font-size: 20px;
            }
            input{
                padding-left: 40px;
                border:none;
                border-bottom: 1px solid $white;
                background-color: $header-bg;
                color: $white;
                border-radius: 0;
                
            }
            @include outline();
            @include placeholder(italic);
        }
    }
}
//main
.body{
    width: 100%;
    display: flex;
    background-color: $body-bg;
    @include rwd_down($mobile-width){
        flex-direction: column;
    }
    .left{
        height: auto;
        flex: 1;
        .filter-wrapper{
            padding: 24px 42px;
            background-color: $filter-bg;
            @include rwd_down($mobile-width){
                padding: 12px 21px;
            }
            select.location{
                 width: 100%;
                 height: 40px;
            }
            .el-collapse-item__content{
                text-align: left;
                background-color: $filter-bg;
                .el-select.location{
                    width: 100%;
                    
                }
            }
            .el-collapse-item__header{
                text-align: left;
                font-size: 20px;
                background-color: $filter-bg;
            }
        }
    }
    .right{
        padding: 24px 42px;
        min-height: 90vh;
        overflow: scroll;
        flex: 2;
        @include rwd_down($mobile-width){
            margin-top: 10px;
            padding: 12px 21px;
        }
    }
}

// filterBlock



// resultBlock
.content-wrapper{
    .result-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .result-info{
            margin-bottom: 8px;
            font-size: 24px;
            color: $black;
            line-height: 1.2rem;
            span.result-num{
                padding: 0 10px;
                font-weight: 700;
                color:$purple;
            }
        }
        .result-tags{
            padding: 10px 0;
            .tag-item{
                margin-right: 8px;
                padding: 8px 16px;
                border: 1px solid $purple;
                border-radius: 100px;
                color: $purple;
                @include font-style(italic);
                i{
                    margin-left: 8px;
                }
            }
        }
    }
    .result-body{
        @extend %card-type;
    }
}

// detailBlock
